<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/lib/angular/angular.js"></script>
    <script src="/javascripts/lib/lodash/lodash.js"></script>
    <script src="/javascripts/lib/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="/javascripts/lib/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&libraries=places&language=en-US"></script>
    <script src="/javascripts/app.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="testApp">
  <div ng-controller="testController">
    <ul ng-repeat="t in tests">
      <li>{{t.t}}
      <ul ng-repeat="i in t.t3" >
        <li>{{i}}</li>
      </ul>
      </li>
    </ul>
    <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events" control="map.control">
      <ui-gmap-marker ng-repeat="m in map.markers"
                      coords="m.coords" icon="m.icon" idkey="m.id" options="m.options" events="m.events" models='models'>

        <!--<ui-gmap-windows show="show" closeClick="closeClick()">-->
          <!--<div>test</div>-->
        <!--</ui-gmap-windows>-->

      </ui-gmap-marker>
    </ui-gmap-google-map>
    lat : <input ng-model="lat" type="text">
    lng : <input ng-model="lng" type="text">


    <div class="form-group move-down">
     {{autoDetails.geometry.location}}
     Lat : {{autoDetails.geometry.location.lat}}
     lng : {{autoDetails.geometry.location.lng}}
      <label for="Autocomplete">Generic Autocomplete</label>
      <input type="text" id="Autocomplete" class="form-control" ng-model='address' ng-autocomplete="autoResult" ng-blur="drawPin()" details="autoDetails" options="autoOptions" />
      <button ng-click="drawPin()">Show On map</button>
    </div>
  </div>
  </body>
</html>
